extends layout 
block content
    h1.text-3xl.text-semibold.underline= category.name 
    h1.text-xl #[strong Category Name: ]  #{category.name}
    p.text-xl.italic #{category.description}
    p.text-xl #[strong Add On: ] #{category.date}
    h1.text-2xl.underline.mt-6.mb-2 Items under this category
    ul.list-disc
        if items.length == 0
            
                li No Items 
        else
            each item in items
                li 
                    a.text-xl(href=item.url) !{item.name}

   
    